---
title: "![](/assets/images/header.svg)"
layout: splash
header:
  overlay_color: "#373737"
  overlay_filter: "0.8"
  overlay_image: "/assets/images/header.svg"
  caption: "Powered by [**Aviva Solutions**](http://avivasolutions.nl) <br/> Logo by [**Ben Palmer**](https://twitter.com/benjaminpalmer)"
excerpt: 'Microsoft MVP | .NET Tech Lead | .NET Architect | C# | Full Stack Dev | Fluent Assertions | Speaker | Trainer | TypeScript | JavaScript | React | Event Sourcing | DDD | TDD | Clean Code<br/>
 <br /> 

[<i class="fab fa-twitter"/> Twitter](https://twitter.com/ddoomen){: .btn .btn--twitter} 
[<i class="fab fa-mastodon"/> Mastodon](https://mastodon.social/@ddoomen){: .btn .btn--mastodon} 
[<i class="fab fa-stack-overflow"/> StackOverflow](https://stackoverflow.com/users/253961/dennis-doomen){: .btn .btn--stackoverflow} 
[<i class="fab fa-linkedin"/> LinkedIN](https://www.linkedin.com/in/dennisdoomen/){: .btn .btn--linkedin} 
[<img src="/assets/images/sessionize-avatar.svg" style="vertical-align: baseline; max-height: 11px"/> Sessionize](https://sessionize.com/dennis-doomen/){: .btn .btn--sessionize} 
[<img src="/assets/images/aviva.svg" style="vertical-align: baseline; max-height: 11px" /> Aviva Solutions](https://avivasolutions.nl/){: .btn .btn--aviva} 
[<img src="/assets/images/fluentassertions.png" style="vertical-align: baseline; max-height: 13px" /> Fluent Assertions](https://www.fluentassertions.com/){: .btn .btn--fluentassertions} 
[<i class="fab fa-github"></i> Github Sponsors](https://github.com/sponsors/dennisdoomen){: .btn .btn--github}
[<i class="fab fa-paypal"></i> Tip Me](https://paypal.me/fluentassertions){: .btn .btn--paypal}
[<i class="fa fa-coffee"></i> Buy me a Coffee](https://ko-fi.com/dennisdoomen){: .btn .btn--kofi}
[<i class="fab fa-patreon"></i> Sponsor Me](https://www.patreon.com/bePatron?u=9250052&redirect_uri=http%3A%2F%2Ffluentassertions.com%2F&utm_medium=widget){: .btn .btn--patreon}

'
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html type=grid %}
{% endfor %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-2541295231849242"
    data-ad-slot="3474725013"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script> 

{% include paginator.html %}
